venv/
dist/
*.egg-info/
build/
cpp_build/
cuda_build/
.coverage
coverage/
__pycache__/
report_data/
playground/
*.oft
.vscode/
lcov.info
*.austin
*.so
cspell.json
tests_report_pe2i_report.py
.dicom_node.code-workspace
.cache/